// FONT FAMILY
$font-family: "Roboto", sans-serif;
$font-family--headings: "Nunito", sans-serif;
$font-family--numbers: "Poppins", sans-serif;

// TEXT COLORS
$text-color--dark: #343a40;
$text-color: #495057;
$text-color--light: #868e96;

$logo-color: #222725;
// COLOR PALETTE
$primary-color: #899878;
$accent-color: #e4e6c3;

$base-color: #f7f7f2;
$base-color--dark: #222725;
