@use "../abstracts" as *;
/*
  1. Use a more-intuitive box-sizing model (include pseudo-elements).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-family: $font-family;
  color: $text-color;
  background-color: $base-color;
  line-height: 1.5;
}
